<!--Main Content - About-->
<main class="about-main">
  <div class="container">
    <!--Header-->
    <div class="about-header">
      <h1>About</h1>
      <a class="btn btn-primary" href="about_edit.html" role="button">Edit your Profile</a>
    </div>
    <!--About Information-->
    <div class="about-info">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <section class="basic-info">
            <h2>Basic Information</h2>
            <dl>
              <dt>Birthday:</dt>
              <dd>July 31, 1980</dd>
            </dl>
            <dl>
              <dt>College:</dt>
              <dd>Hogwarts College</dd>
            </dl>
            <dl>
              <dt>Hometown:</dt>
              <dd>Godrick's Hollow, England</dd>
            </dl>
            <dl>
              <dt>Currently Lives:</dt>
              <dd>Godrick's Hollow, England</dd>
            </dl>
          </section>
          <section class="contact-info">
            <h2>Contact Information</h2>
            <dl>
              <dt>Email:</dt>
              <dd>harry_potter@hogwarts.edu</dd>
            </dl>
            <dl>
              <dt>Telephone:</dt>
              <dd>555-123-4567</dd>
            </dl>
          </section>
        </div>
        <div class="col-xs-12 col-md-6">
          <section class="words-to-live-by">
            <h2>Words to Live By</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
          </section>
          <section class="about-me">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>
