<!--Nav Bar-->
<%= render "shared/navbar" %>

<!--Top Section-->
<%= render "shared/top_section" %>

<!--Main Content - Friends-->
<main class="friends-main">
  <div class="container">
    <!--Header-->
    <div class="friends-header">
      <h1>Friends</h1>
    </div>
    <!--Friends-->
    <div class="friends-container">
      <div class="row">
        <div class="friend col-xs-12 col-md-6">
          <a class="friend-photo" href="#">
            <img src="assets/user_silhouette_generic.gif">
          </a>  
          <div class="friend-info">
            <a class="friend-name" href="#">Hermione Granger</a>
            <p class="friend-count">432 Friends</p>
          </div>
          <a class="btn btn-default unfriend-button" href="#" role="button">Unfriend Me</a>
        </div>
        <div class="friend col-xs-12 col-md-6">
          <a class="friend-photo" href="#">
            <img src="assets/user_silhouette_generic.gif">
          </a>  
          <div class="friend-info">
            <a class="friend-name" href="#">Hermione Granger</a>
            <p class="friend-count">432 Friends</p>
          </div>
          <a class="btn btn-default unfriend-button" href="#" role="button">Unfriend Me</a>
        </div>
      </div>
      <div class="row">
        <div class="friend col-xs-12 col-md-6">
          <a class="friend-photo" href="#">
            <img src="assets/user_silhouette_generic.gif">
          </a>  
          <div class="friend-info">
            <a class="friend-name" href="#">Hermione Granger</a>
            <p class="friend-count">432 Friends</p>
          </div>
          <a class="btn btn-default unfriend-button" href="#" role="button">Unfriend Me</a>
        </div>
        <div class="friend col-xs-12 col-md-6">
          <a class="friend-photo" href="#">
            <img src="assets/user_silhouette_generic.gif">
          </a>  
          <div class="friend-info">
            <a class="friend-name" href="#">Hermione Granger</a>
            <p class="friend-count">432 Friends</p>
          </div>
          <a class="btn btn-default unfriend-button" href="#" role="button">Unfriend Me</a>
        </div>
      </div>
      <div class="row">
        <div class="friend col-xs-12 col-md-6">
          <a class="friend-photo" href="#">
            <img src="assets/user_silhouette_generic.gif">
          </a>  
          <div class="friend-info">
            <a class="friend-name" href="#">Hermione Granger</a>
            <p class="friend-count">432 Friends</p>
          </div>
          <a class="btn btn-default unfriend-button" href="#" role="button">Unfriend Me</a>
        </div>
        <div class="friend col-xs-12 col-md-6">
          <a class="friend-photo" href="#">
            <img src="assets/user_silhouette_generic.gif">
          </a>  
          <div class="friend-info">
            <a class="friend-name" href="#">Hermione Granger</a>
            <p class="friend-count">432 Friends</p>
          </div>
          <a class="btn btn-default unfriend-button" href="#" role="button">Unfriend Me</a>
        </div>
      </div>
    </div>
  </div>
</main>