<!--Main Content - Photos-->
<main class="photos-main">
  <div class="container">
    <!--Header-->
    <div class="photos-header">
      <h1>Photos</h1>
      <!-- <a class="btn btn-primary" href="#" role="button">Add Photo!</a> -->
      <%= link_to "Add Photo!", new_user_photo_path(current_user), class: "btn btn-primary", role: "button" %>
    </div>
    <!--Photos-->
    <div class="photos-container">
      <% @photos.each do |photo| %>
        <div class="row">
          <div class="photo col-xs-6 col-sm-3">
            <a href="#">
              <!-- <img src="assets/icon_photo_small.png"> -->
              <%= image_tag photo.photo_file.url %>
            </a>
            <p class="photo-date">Uploaded January 1, 2015</p>
            
          </div>
          <div class="photo col-xs-6 col-sm-3">
            <a href="#">
              <img src="assets/icon_photo_small.png">
            </a>
            <p class="photo-date">Uploaded January 1, 2015</p>
          </div>
          <div class="photo col-xs-6 col-sm-3">
            <a href="#">
              <img src="assets/icon_photo_small.png">
            </a>
            <p class="photo-date">Uploaded January 1, 2015</p>
          </div>
          <div class="photo col-xs-6 col-sm-3">
            <a href="#">
              <img src="assets/icon_photo_small.png">
            </a>
            <p class="photo-date">Uploaded January 1, 2015</p>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
      </div>
      <div class="row">
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
      </div>
      <div class="row">
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
        <div class="photo col-xs-6 col-sm-3">
          <a href="#">
            <img src="assets/icon_photo_small.png">
          </a>
          <p class="photo-date">Uploaded January 1, 2015</p>
        </div>
      </div>
    </div>
  </div>
</main>
